{% extends "basic.html" %}


{% block body %}
{% for message in messages%}

<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

<!-- filter options div -->




<div class="container">

    <div class="col-md-6">
        <form action="/tuition/filter/" method="post">
            {% csrf_token %}

            <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect02" name="subject">
             <option></option>
            {% for i in subjects %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
  </select>
  <div class="input-group-append">
    <label class="input-group-text" for="inputGroupSelect02">Subjects</label>
  </div>
</div>

 <div class="input-group mb-3">
  <select class="custom-select" id="inputGroupSelect02" name="class">
    <option></option>
      {% for j in class_in %}
    <option value="{{j}}">{{j}}</option>
      {% endfor %}
  </select>
  <div class="input-group-append">
    <label class="input-group-text" for="inputGroupSelect02">Class</label>
  </div>
</div>
            <!-- Salaray Range and Availability-->

            <div class="input-group mb-3">
  <div class="form-group form-check">
    <input class="form-check-input" type="checkbox" id='exampleCheck1'name="availability">
      <label class="form-check-label" for="exampleCheck1"> Only Available</label>
  </div>
</div>
            <!-- Salary from-->
            <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Salary From</label>
  <input type="number" class="form-control" id="exampleFormControlInput1" name="salary_from">
</div>
            <!-- Salary To-->
            <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Salary To</label>
  <input type="number" class="form-control" id="exampleFormControlInput2" name="salary_to">
</div>



<button type="submit">Filter Posts</button>
        </form>

    </div>

{{msg}} <br>
{% for i in postlist %}
    <div class="col-md-6 offset-md-3 p-3 border">
{{i.title}}
        <br>
        by: {{i.user.username}}
        <br>
        <hr>
        <a href="/tuition/detail/{{i.id}}"> See Details</a> <br>

</div>
    </div>
    {% endfor %}

{% endblock body %}